html {
    color:burlywood;
}

body {
    color:brown;
    background-color:beige
}

h1 {
    color:darkgoldenrod;
/*    background-color: darkblue*/
}

.cis-260{
/*    color:crimson;*/
    background-color: darkblue;
}

.haha {
    color:crimson;
}

.test{
    background-color: blueviolet;
}

p {
    color:darkseagreen;
    font-size: 8em;
    background-color: darkturquoise
}

a {
    color: red;
}
#special-paragraph {
    font-family: fantasy;
    color:aquamarine
}

body a {
    font-family: monospace;
}